<h1>メモ帳</h1>

<%= form_with model: @memo, method: :post do |f| %>
  <%= f.label:タイトル %>
  <%= f.text_field :title %>
  <%= f.label:メモ %>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>

<% @memos.each do |memo| %>
  <%= form_with model: memo, url: memo_path(memo.id), method: :patch do |f| %>
    <%= f.label:タイトル %>
    <%= f.text_field :title %>
    <%= f.label:メモ %>
    <%= f.text_area :body %>
    <%= f.submit '更新' %>
  <% end %>
<% end %>